@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0');

:root {
    --dark-color: #0d1b2a;
    --background-color: #1b263b;
    --neutral-color: #415a77;
    --link-color: #778da9;
    --light-color: #e0e1dd;
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    font-size: .75rem;
    background-color: var(--dark-color);
    color: var(--light-color);
    margin: 0;
    padding: 12px;
}

a {
    text-decoration: none;
    font-weight: 600;
    color: var(--light-color);
}

/* Header */
header {
    margin-bottom: 40px;
}

h1 {
    text-align: center;
    font-weight: 200;
    margin: 0;
}

h1 span {
    font-size: 1.5rem;
}

span.greed {
    font-weight: 600;
}

span.ometer {
    font-weight: 200;
}

nav {
    display: flex;
    justify-content: center;
    margin: 12px 0;
}

nav ul {
    display: flex;
    padding: 0;
    gap: 70px;
    margin: 0;
}

nav ul a {
    text-decoration: none;
}

nav ul li {
    list-style-type: none;
    font-weight: 400;
}

/* Searchbar */
header form {
    position: relative;
    height: 40px;
}

form div {
    position: absolute;
    display: flex;
    border: none;
    margin: 0 auto;
    width: 120px;
    background: white;
}

form div.active {
    width: 250px;
    margin-left: calc(50% - 125px);
}

.search-container {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.search-container,
.recom,
.searchbar-container {
    margin-left: calc(50% - 60px);
    transition: width .5s, margin-left .5s;
}

form div input {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

form div button {
    background: none;
    border: none;
    color: gray;
    border-radius: 50%;
}

form div button:hover {
    background: var(--light-color);
}

.recom {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-bottom: 6px;
    margin-top: 1.75rem;
}

.search {
    position: relative;
    color: black;
    border: none;
    padding: .5rem;
    width: 100%;
}

.search:hover {
    background-color: lightgray;
    cursor: pointer;
}

input#searchbar {
    padding: .25rem;
    font-weight: 400;
    color: var(--background-color);
}

input#searchbar::placeholder {
    font-weight: 400;
}

input#searchbar:hover {
    background-color: transparent;
}

input#searchbar:focus {
    border: none;
    outline: none;
}

/* Main */
/* Index */
div.nav-img {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

div.nav-img img {
    width: 90px;
    height: 60px;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 0px black;
    filter: brightness(65%);
    transition: filter 0.1s;
}

.img-active {
    filter: brightness(100%) !important; 
}

h2.intro {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 4px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

caption {
    font-weight: 600;
    text-align: left;
    margin-bottom: 6px;
}

th, td {
    line-height: 2rem;
    border-bottom: 1px solid gray;
}

tr:hover {
    background: darkgreen;
}


/* Stocks */
#stocks-container,
#crypto-container,
#forex-container {
    position: relative;
    height: 60px;
}

.nav-img h2 {
    position: absolute;
    left: 24px;
    top: 24px;
}

h2 {
    font-size: .75rem;
    font-weight: 400;
}

span#comp-name {
    font-size: 1.25rem;
    margin-left: 0;
}

span.comp-var {
    display: inline-block;
    font-size: 1rem;
    margin-left: .25rem;
    margin-bottom: 1rem;
}

/* Chart */
div.chart-type-button {
    display: flex;
    gap: 30px;
    margin-left: .25rem;
    margin-bottom: 10px;
}

div.chart-type-button button {
    background: white;
    border: none;
    outline: none;
    border-radius: 4px;
    padding: 0 10px;
}

div.chart-container {
    overflow: auto;
    box-shadow: 0px 0px 2px 1px black;
}

@media screen and (min-width: 768px) {
    body {
        font-size: 1rem;
        padding: 12px 35px
    }
    
    /* Header */
    header {
        margin-bottom: 50px;
    }

    h1 span {
        font-size: 2rem;
    }

    nav {
        margin: 32px 0;
    }

    nav ul {
        gap: 127px;
    }

    /* Searchbar */
    form div {
        width: 150px;
    }

    form div.active {
        width: 300px;
        margin-left: calc(50% - 150px);
    }

    form div input {
        font-size: 1rem;
    }

    .search-container,
    .recom {
        margin-left: calc(50% - 75px);
    }

    .recom {
        margin-top: 2rem;
    }

    /* Main */
    h2 {
        font-size: 1rem;
    }

    span#comp-name {
        font-size: 2rem;
    }

    span.comp-var {
        font-size: 1.5rem;
        margin-left: .5rem;
        margin-bottom: 1.5rem;
    }

    /* Chart */
    div.chart-type-button {
        gap: 75px;
        margin-left: 1rem;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 1366px) {
    body {
        padding: 12px 70px
    }

    /* Header */
    div.h1-nav {
        display: flex;
        justify-content: space-between;
        padding: 0 30px 0 0;
    }

    h1 {
        display: flex;
        align-items: center;
    }

    div.searchbar-container {
        margin-left: 0;
        left: 20px;
    }

    /* Searchbar */
    form div.active,
    .search-container,
    .recom {
        margin-left: 0;
    }
}

@media screen and (min-width: 1920px) {
    /* Header */
    header {
        margin-bottom: 150px;
    }

    /* Searchbar */
    form div.searchbar-container {
        left: 350px;
        top: -60px;
    }

    /* Main */
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
    
}